*{
  box-sizing:boder-box;
  padding: 0;
  margin:0;
  background-color: lightblue;

}
.center
{
  max-width: 960px;
  margin: 0 auto;
  padding:0 2%;
  display: flex;

}
.main
{
  padding: 40px;
}

.menu
{
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}


